/src/*.o
/src/qt/.deps/*.Po
/src/qt/.deps
/src/compat/.deps
 .deps
*.Po
/src/script/.deps/*.Po
 .deps
/src/crypto/.libs
*.o
/src/*.lo
*.la
*.moc
*.lo
/src/qt/libbitcoinqt.a
/src/qt/moc_*.cpp
/src/.libs/*
/src/univalue/libbitcoin_univalue.a
